:root {
  --branding-color: #352961;
  --secondary-color: #973fa7;
  --third-color: #e6b2c6;
  --fourth-color: #f6e5e5;
  --fifth-color: rgba(182, 176, 176, 0.317);
  --heading-font-family: "Rubik", sans-serif;
  --default-font-family: "Poppins", sans-serif;
}

/* screen resolution */
@media (min-width: 1000px) {
  h1 {
    color: black;
  }

  .hero-info {
    margin: 0px 60px 0 50px;
  }

  .hero-margin {
    margin-top: 200px;
  }

  .hero-img-margin {
    margin-top: 150px;
    display: block;
    text-align: center;
    padding-left: 50px;
  }

  .content-container {
    padding: 160px 20px;
  }
}

@media (max-width: 1000px) {
  h1 {
    color: black;
  }

  .hero-info {
    margin: 0px 60px 0 60px;
  }

  .hero-margin {
    margin-top: 120px;
  }

  .hero-img-margin {
    margin: 60px auto;
    max-width: 500px;
    display: block;
    text-align: center;
    display: none;
  }

  .content-container {
    padding: 10px;
  }
  .content {
    text-align: center;
  }
}

/* navigation */

.nav-container {
  margin: 0;
}
nav {
  padding: 15px 0;
}

.logo {
  max-width: 60px;
  max-height: 40px;
  margin-left: 0;
  vertical-align: middle;
}

nav ul {
  padding: 0;
}

nav li {
  display: inline;
  list-style: none;
  line-height: 20px;
  margin-left: 15px;
  font-weight: 400;
  font-family: var(--heading-font-family);
}

nav a {
  text-decoration: none;
  color: black;
  vertical-align: middle;
  transition: all 100ms ease-in-out;
}

nav a:hover,
nav li.active a {
  color: var(--secondary-color);
}

/* hero page */

.hero {
  background-color: rgba(182, 176, 176, 0.317);
}

.navbar-custom {
  font-family: var(--heading-font-family);
}

.header-text {
  font-size: 30px;
  font-weight: 200;
  margin-bottom: 30px;
  font-family: "poppins", sans-serif;
}

.larger-text {
  font-size: 40px;
  font-weight: 500;
  margin-bottom: 50px;
  padding-right: 30px;
  font-family: "Rubik", sans-serif;
}

.normal-text {
  font-size: 15px;
}

.contact-button {
  border: 1px solid none;
  padding: 12px 30px;
  border-radius: 15px;
  background: black;
  color: white;
  text-decoration: none;
  margin-right: 10px;
  font-weight: 400;
  transition: all 150ms ease-in-out;
  vertical-align: middle;
  font-family: "Rubik", sans-serif;
}

.contact-button:hover {
  color: var(--fourth-color);
  background: var(--secondary-color);
  font-weight: 400;
}

.hero-picture {
  width: 550px;
  border-radius: 50%;
  text-align: center;
}

.social-icon {
  display: inline-block;
  margin: 0 5px;
  font-size: 25px;
  color: black;
  transition: all 150ms ease-in-out;
  vertical-align: middle;
}

.social-icon:hover {
  display: inline-block;
  margin: 0 5px;
  font-size: 25px;
  color: var(--branding-color);
}

.arrow {
  padding-bottom: 50px;
}

/* project page */
.projects {
  font-size: 20px;
  font-family: var(--default-font-family);
  opacity: 0.5;
  margin-top: 120px;
}

.project-content h2 {
  display: block;
  margin: 0 auto;
  text-align: center;
  margin-top: 50px;
  font-size: 54px;
  font-family: var(--default-font-family);
}

.project-column {
  padding-left: 20px;
  padding-right: 20px;
}

.project-image {
  box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 12px;
}

.project-page {
  margin-top: 100px;
}

p .arrow {
  font-size: 50px;
  text-align: center;
  margin: 0 auto;
  display: block;
  margin-top: 70px;
}

.bg-gulliver {
  background-color: #ffffff;
}

/* about page */

.content h1 {
  font-size: 64px;
  line-height: 1.1;
  font-family: var(--default-font-family);
  font-weight: 600;
}

.content h3 {
  font-size: 20px;
  font-family: var(--heading-font-family);
  font-weight: 500;
}

.content {
  margin: 30px;
}

.content h2 {
  font-size: 40px;
  text-align: center;
  font-family: var(--heading-font-family);
}

.content p {
  font-size: 16px;
  font-family: var(--heading-font-family);
}

.content h4 {
  font-size: 14px;
  font-weight: 200;
  font-family: var(--heading-font-family);
}

.about-picture {
  display: block;
  margin: 0 auto;
  max-width: 400px;
  border-radius: 20px;
}

.project-content h2 {
  font-size: 50px;
  font-family: var(--default-font-family);
  font-weight: 600;
}

.project-content h3 {
  font-size: 18px;
  text-align: left;
}

.project-content h5 {
  font-size: 40px;
}

.project-content p {
  font-size: 14px;
  padding: 0 20px;
}

footer {
  margin: 60px 0;
}

footer .contact-box {
  background: var(--fifth-color);
  padding: 30px 120px;
}

.contact-box h5 {
  font-size: 50px;
  font-family: var(--default-font-family);
  font-weight: 400;
}
.contact-box h3 {
  font-size: 20px;
  font-family: var(--default-font-family);
  font-weight: 400;
}

.contact-box a {
  line-height: 1.5;
}

.footer-button-div {
  margin-top: 30px;
}

.social-icon-2 {
  display: inline-block;
  margin: 0 5px;
  font-size: 25px;
  color: gray;
  transition: all 150ms ease-in-out;
  vertical-align: middle;
}

.social-icon-2:hover {
  display: inline-block;
  margin: 0 5px;
  font-size: 25px;
  color: var(--branding-color);
}

.vertical-align {
  vertical-align: middle;
}

footer .email {
  font-size: 20px;
  font-family: var(--default-font-family);
  text-decoration: none;
  color: black;
}
