:root {
  --branding-color: #352961;
  --secondary-color: #774181;
  --third-color: #e6b2c6;
  --fourth-color: #f6e5e5;
  --heading-font-family: "Rubik", sans-serif;
  --default-font-family: "Poppins", sans-serif;
}

@media (min-width: 600px) {
  h1 {
    color: var(--branding-color);
  }
  .app-container {
    margin-top: 30px;
  }

  h1 {
    margin-top: 120px;
  }
}

@media (max-width: 600px) {
  h1 {
    color: var(--branding-color);
  }

  .row {
    padding-left: 10px;
  }

  h1 {
    margin-top: 50px;
  }
}

.navbar-custom {
  font-family: var(--heading-font-family);
}

.header-text {
  font-size: 30px;
  font-weight: 200;
  margin-bottom: 30px;
  font-family: "poppins", sans-serif;
}

.larger-text {
  font-size: 40px;
  font-weight: 500;
  margin-bottom: 50px;
  padding-right: 30px;
  font-family: "Rubik", sans-serif;
}

.larger-header-text {
  font-size: 60px;
}

.normal-text {
  font-size: 15px;
}

.contact-button {
  border: 1px solid none;
  padding: 12px 30px;
  border-radius: 15px;
  background: black;
  color: white;
  text-decoration: none;
  margin-right: 10px;
  font-weight: 400;
  transition: all 150ms ease-in-out;
  vertical-align: middle;
  font-family: "Rubik", sans-serif;
}

.contact-button:hover {
  color: var(--fourth-color);
  background: var(--branding-color);
  font-weight: 400;
}

.hero-picture {
  width: 550px;
  border-radius: 50%;
  text-align: center;
  padding-top: 50px;
}

.social-icon {
  display: inline-block;
  margin: 0 5px;
  font-size: 25px;
  color: black;
  transition: all 150ms ease-in-out;
  vertical-align: middle;
}

.social-icon:hover {
  display: inline-block;
  margin: 0 5px;
  font-size: 25px;
  color: var(--branding-color);
}

.projects {
  font-size: 20px;
  font-family: var(--default-font-family);
  opacity: 0.5;
  margin-top: 120px;
}

.skill-button {
  padding: 10px 20px;
  background: var(--secondary-color);
  margin-left: 50px;
  color: white;
  border-radius: 10px;
  transition: all 150ms ease-in-out;
  cursor: pointer;
}

.skill-button:hover {
  background: var(--fourth-color);
  color: var(--branding-color);
  padding: 8px 18px;
  box-shadow: rgba(60, 64, 67, 0.3) 0px 1px 2px 0px,
    rgba(60, 64, 67, 0.15) 0px 1px 3px 1px;
}

.project-image {
  box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 12px;
}
