.container {
  margin: 150px 100px;
}

.row {
  margin-left: 40px;
}
h1 {
  font-size: 30px;
  font-weight: 200;
  margin-top: 120px;
  margin-bottom: 30px;
}

h2 {
  font-size: 40px;
  font-weight: 500;
  margin-bottom: 50px;
  padding-right: 30px;
}

.contact-button {
  border: 1px solid none;
  padding: 12px 30px;
  border-radius: 15px;
  background: black;
  color: white;
  text-decoration: none;
  margin-right: 10px;
  font-weight: 400;
  transition: all 150ms ease-in-out;
  vertical-align: middle;
}

.contact-button:hover {
  color: black;
  background: rgb(151, 123, 151);
  font-weight: 400;
}
img {
  width: 550px;
  border-radius: 50%;
}

.social-icon {
  display: inline-block;
  margin: 0 5px;
  font-size: 25px;
  color: black;
  transition: all 150ms ease-in-out;
  vertical-align: middle;
}

.social-icon:hover {
  display: inline-block;
  margin: 0 5px;
  font-size: 25px;
  color: rgb(151, 123, 151);
}
